<template>
  <ul class="item-list">
    <item
      v-for="item in displayedItems"
      :key="item.id"
      :item="item"
    ></item>
  </ul>
</template>

<script>
import {
  fetchIdsByType,
  fetchItems
} from '@/api/api'
import Item from '@/components/Item.vue'

export default {
  components: {
    Item
  },

  beforeMount () {
    this.loadItems()
  },

  data () {
    return {
      displayedItems: []
    }
  },

  methods: {
    loadItems () {
      this.$bar.start()
      fetchIdsByType('top')
        .then(ids => fetchItems(ids))
        .then(items => {
          this.displayedItems = items
          this.$bar.finish()
        })
        .catch(() => this.$bar.fail())
    }
  }
}
</script>
