<template>
  <form @submit.prevent="onSubmit" class="form">
    <div>
      <label>
        <span>Email</span>
        <input
          type="email"
          v-model="email"
          required="true"
          class="input"
          placeholder="Type Email there.."
        />
      </label>
    </div>

    <div>
      <label>enterCompetition</label>
      <input
        v-model="enterCompetition"
        value="yes"
        type="radio"
        name="enterCompetition"
      />
      <input
        v-model="enterCompetition"
        value="no"
        type="radio"
        name="enterCompetition"
      />
    </div>

    <div>
      <button class="btn btn__yellow">Send</button>
    </div>
  </form>
</template>

<script>
export default {
  data: () => ({
    email: null,
    enterCompetition: 'yes'
  }),
  methods: {
    onSubmit () {
      this.axios.post('http://demo7437963.mockable.io/validate', {
        email: this.email,
        enterCompetition: this.enterCompetition === 'yes'
      })
      this.$emit('form-submitted')
    }
  }
}
</script>

<style lang="scss" scoped>
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  span {
    padding: 10px 15px;
  }
}
</style>
