<template>
  <div class="modal">
    <div class="modal__wrapper" @click="closeModal"></div>
    <div class="modal__inner">
      <div class="inner">
        <button class="inner__close-modal-button btn" @click="closeModal">x</button>
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    closeModal () {
      this.$emit('close-modal')
    }
  }
}
</script>

<style scoped lang="scss">
.modal {
  position: relative;
  &__wrapper {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__inner {
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    width: 400px;
    height: 200px;
    background: #FFF;
    z-index: 100000;
    border-radius: 3px;
  }
}
.inner {
  position: relative;
  padding: 20px;
  height: calc(100% - 40px);
  &__close-modal-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    border-radius: 100%;
    background-color: #ffca2b;
    text-transform: none;
  }
}
</style>
