<template>
  <div id="app">
    <!--<router-view/>-->
    <modal
      v-if="displayModal"
      @close-modal="closeModal"
    >
    <Form @form-submitted="closeModal" />
    </modal>

    <item-list />
  </div>
</template>

<script>
import ItemList from '@/views/ItemList.vue'
import Modal from '@/components/Modal.vue'
import Form from '@/components/Form.vue'

export default {
  components: {
    ItemList,
    Modal,
    Form
  },
  data: () => ({
    displayModal: true
  }),
  methods: {
    closeModal () {
      this.displayModal = false
    }
  }
}
</script>

<style lang="scss">
</style>
