@import "variables";

.btn {
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  &__yellow {
    background-color: $yellow;
    &:hover {
      background-color: darken($yellow, 15%);
    }
    &:active {
      background-color: darken($yellow, .10%);
    }
    &:disabled {
      background-color: rgba($yellow, .5);
      cursor: default;
    }
  }
}